body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*NAVIGATION*/

.navigation {
    padding: 7px 7px 7px 0;
}

.nav-container {
    display: flex;
    float: right;
    align-items: center;
    height: 54px;
}

.nav-container a{
    color: black;
    font-size: 13px;
    text-decoration: none;
    padding: 0 10px;
}

.nav-container .left-nav {
    visibility: hidden;
}

.nav-container img {
    width: 34px;
    padding: 0 10px;
    border-radius: 50%;
}

/*MAIN*/

.logo-google {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-decor {
    height: 100%;
    margin-top: auto;
    display: block;
}

.logo-decor img {
    height: 92px;
}

.search-box {
    padding: 20px;
}

.search-box-decor {
    position: relative;
    width: auto;
    max-width: 500px;
    margin: 0 auto;
}

#search-text {
    width: 100%;
    max-width: 500px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    height: 44px;
}

.submit-box {
    padding: 20px;
}

.submit-box-decor {
    position: relative;
    width: auto;
    max-width: 500px;
    margin: 0 auto;
}

.submit-google {
    height: 70px;
    padding-top: 15px;
    text-align: center;
}

.submit-google input {
    border: 1px solid#dfe1e5;
    border-radius: 5px;
    color: #333536;
    font-size: 13px;
    margin: 10px 5px;
    padding: 0 15px;
    line-height: 25px;
    height: 35px;
    text-align: center;
}

.suggest-container {
    flex-grow: 1;
}

.suggest-flex {
    margin-bottom: 25px;
    font-size: small;
}

.suggest {
    font-size: small;
    text-align: center;
}

.suggest a {
    text-decoration: none;
    color: rgb(77, 5, 145) ;
}

/*FOOTER*/

.footer {
    background: #f2f2f2;
    font-size: 14px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.foot-kiri, .foot-kanan {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.footer a {
    font-size: 14px;
    text-decoration: none;
    color: #70757a;
    padding: 15px;    
}


@media (max-width:1024px){
    .nav-container {
        display: flex;
        float: none;
        align-items: center;
        justify-content: space-between;
        height: 54px;
    }

    .nav-container .middle-nav {
        visibility: hidden;
    }

    .nav-container .left-nav {
        visibility: visible;
    }

    .nav-container a{
        padding: 0 22px;
    }

    .submit-google {
        visibility: hidden;
    }

    .navigation, .logo-google, .search-box, .suggest-container {
        order: -1;
    }

    .footer {
        display: block;
    }

    .foot-kiri {
        visibility: hidden;
    }

    .foot-kanan {
        justify-content: center;
    }
}

@media (max-width:420px) {
    .suggest span{
        display: block;
        margin-bottom: 10px;
    }
}