* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.header {
    text-align: center;
    padding: 10px 16px;
    justify-content: flex-end;
}

.g-image {
    text-align: center;
}

.main {
    margin-top: 150px;
}

.bar {
    margin: 0 auto;
    width: 45%;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

.search-bar {
    margin-left: 40px;
    height: 45px;
    border: none;
    width: 88%;
    font-size: 16px;
    outline: none;
}

.search-buttons {
    text-align: center;
}

.button {
    background-color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
}

.button:focus {
    border: 1px solid #4885ed;
    padding: 9px 19px;
}

.search-others {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
}

.border {
    border: 1px solid #c8c8c8;
}

.indonesia {
    padding: 13px 13px;
    padding-left: 20px;
    color: #777777;
}

.border-bot {
    padding: 13px 13px;
    color: #777777;
    width: 100%;
}

.advertising {
    width: 65%;
    padding-left: 20px;
}

.privacy {
    word-spacing: 35px;
}