* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header__google  {
    font-family: 'Roboto', sans-serif;
    padding: 24px;

}

.header__top-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__menu-link {
    margin: 8px;
    color: #000;
    text-decoration: none;
}

.header__menu-button {
    margin: 8px;
    background: transparent;
    outline: none;
    border: none;
}

.header__avatar {
    margin: 8px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.menu {
    fill: aqua;
    background: blue;
}